


## Schemas
{% for diag in diagrams|sort(attribute="title") %}
   [{{ diag.title|title }}](#{{ diag.title|title|mk_quote }})<br/>
{%- endfor %}

{% for diag in diagrams %}

### {{ diag.title|title }}

<details open>
    <summary>{{ diag.title|lower }}</summary>

{{ diag.body }}

</details>
{%- endfor %}
